DATABASE_URL=postgresql://neondb_owner:npg_D7h5JyFkRsgt@ep-noisy-sea-a4kzgj3x-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

AUTH_SECRET="43X1kNBDAuyf8S7ZeGYi6zwIb7JR26HazRiegM8802s=" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

AUTH_GITHUB_ID=Ov23lihkOHonyD9JXZ0K
AUTH_GITHUB_SECRET=70c734b5bcc6b996405ac9466e01d069ce0514cd


NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dsvsxm6yg
NEXT_PUBLIC_CLOUDINARY_API_KEY=456866292298327
CLOUDINARY_API_SECRET=pHmVPM5-izBjxtOdKoOg8kSNv9g


EMAIL_USER=mohitsainirajgarh@gmail.com
EMAIL_PASS=pfgu qumh vhmn zhbb
ADMIN_EMAIL=mohitsainirajgarh@gmail.com